<div class="thought-form-container">
    <a class="btn" href="/Ys/dashboard">Voltar</a>
    <h1>Criando um pensamento</h1>
    <form action="/Ys/add" method="POST">
        <div class="form-control">
            <label for="title">Título: </label>
            <input type="text" name="title" placeholder="Digite o seu Y">
        </div>
        <input type="submit" value="Criar Y">
    </form>
</div>